.skills-container {
    height: 25%;
    width: 100%;
}

.skills-carrousel-container {
    width: 100%;
    height: 100%;
}
.skills-carousel-item-container {
    width: 100%;
    height: 100%;
    padding: 10%;
}

.skills-item-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.skills-item {
    padding-top: 2%;
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    display: grid;
    align-items: center;
    justify-content: center;
    color: black;
}

.skills-item p {
    text-align: center;
}

.item-skill {
    width: 100px;
    height: 100px;
}

.express-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    border-radius: 50%;
}

.skills-item:hover {
    transform: scale(1.4);
    transition: all 0.0s;
}

@media (max-width: 530px) {

    .skills-container {
        display: grid;
        grid-template-columns: repeat(3, 25%);
    }

    /* .skills-item {
        width: 85%;
        height: 30%;
    } */
}