.nav-container {
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: center;
    background-color: #c5a48e;
}

.nav-menu {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
}

.nav-menu-text {
    font-size: 20px;
    position: relative;
}

.nav-menu-text a {
    text-decoration: none;
    color: black;
}

.nav-menu-text:hover  {
    transform: scale(1.1);
    transition: all 0.0s; 
}

.active-link {
    text-decoration: underline; 
}

@media (max-width: 530px) {
    .nav-container {
        height: 8vh;
        width: 100%;
        padding: 0px 15px 0px 15px;
        display: flex;
        justify-content: center;
        z-index: 10;
    }

    .nav-menu {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .nav-menu-text > a {
        text-decoration: none;
        color: black;
    }

    .active-link {
        text-decoration: underline; 
    }
}