.about-me-container {
    width: 100%;
    height: 25%;
    padding-top: 4.5%;
    display: flex;
    flex-direction: row;
}

.image-container {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    border-radius: 25px; 
    display: flex;
    align-items: center;
}

.about-me {
    font-size: 20px;
}

.about-me-presentation-container {
    width: 55%;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.about-me-presentation-container>h3 {
    width: 70%;
    font-size: 18px;
}

.about-me-pages-container {
    width: 50%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.about-me-pages {
    color: black;
    font-size: 35px;
    text-decoration: none;
    position: relative;
}
  
.about-me-pages-cv {
    font-size: 38px;
}

.about-me-pages:hover {
    color: #c5a48e;
    transform: scale(1.1);
    transition: all 0.0s;
}

.image:hover {
    transform: scale(1.1);
    transition: all 0.0s;
}

@media (max-width: 530px) {
    .about-me-container {
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: column;
    }

    .image-container {
        width: 100%;
        height: 42%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-me-presentation-container {
        width: 100%;
        height: 50%;
        justify-content: space-evenly;
    }

    .about-me-presentation-container>h3 {
        font-size: 15px;
        width: 85%;
    }

    .image {
        margin-top: 15%;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
}